body:not(.font-family-change-to-default) .markdown-preview-view.is-readable-line-width .markdown-preview-section,
body:not(.font-family-change-to-default) .markdown-source-view.is-readable-line-width .CodeMirror,
body:not(.font-family-change-to-default) .markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
body:not(.font-family-change-to-default) .markdown-preview-view .markdown-preview-section,
body:not(.font-family-change-to-default) .markdown-source-view .CodeMirror,
body:not(.font-family-change-to-default) .markdown-preview-view .markdown-preview-sizer,
body:not(.font-family-change-to-default) .markdown-source-view.mod-cm6 .cm-scroller {
line-height: 1.9;
letter-spacing: 0.08em;
}

.HyperMD-header.HyperMD-header-2.cm-line {
  line-height: 2.5rem;
  margin-top: 0px !important;
  /* margin-bottom: 0.2rem !important; */
}

.HyperMD-header.HyperMD-header-3.cm-line {
  margin-top: 0.7rem !important;
  margin-bottom: 0.2rem !important;
}

.HyperMD-header.HyperMD-header-4.cm-line {
  margin-top: 0.6rem !important;
  margin-bottom: 0.2rem !important;
}

.HyperMD-header.HyperMD-header-5.cm-line {
  margin-top: 0.5rem !important;
  margin-bottom: 0.2rem !important;
}

.HyperMD-header.HyperMD-header-6.cm-line {
  margin-top: 0.5rem !important;
  margin-bottom: 0.2rem !important;
}